{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/about_company.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}

<div class="title">
    O'zbekistonda organik mineral o'g'itlarning yetakchi ishlab chiqaruvchisi
</div>
<div class="logo">
    <img src="{% static 'img/logo.png' %}" alt="logo">
</div>
{% endblock header_content %}
{% block content %}

<section class="about_company container">
    <h2 class="about_company_title">
        TASHKILOT HAQIDA
        <span class="about_company_subtitle">
            "Ekogumus" 1993 yilda innovatsion mineral o'g'itlar ishlab chiqarish maqsadida tashkil etilgan. O'ttiz yil ichida kompaniya butun dunyo bo'ylab samarali qishloq xo'jaligi echimlarini taqdim etib, sanoatning etakchisiga aylandi.
        </span>
    </h2>
    <div class="about_company_history">
        <div class="history_colum">
            <p>
                Kompaniya "Ekogumus" deb nomlandi va o'z sayohatini kichik shaharchadagi kichik laboratoriya bilan boshladi. Cheklangan resurslarga qaramay, olimlar jamoasi bitmas-tuganmas ishtiyoq va qat'iyat bilan ishladilar. Dastlabki yillar oson bo'lmagan, ammo ilmiy iste'dod va mehnatsevarlik tufayli ular mineral o'g'itlarning bir nechta noyob formulalarini ishlab chiqishga muvaffaq bo'lishdi.
            </p>
            <p>
                Har yili" Ekogumus " tadqiqot va ishlab chiqarish imkoniyatlarini kengaytirdi. Vaqt o'tishi bilan ularning o'g'itlari butun dunyo bo'ylab fermerlar va qishloq xo'jaligi tomonidan katta talabga ega bo'ldi. Kompaniya o'z mahsulotlarini turli tuproq va iqlim sharoitlariga moslashtirish uchun agronomlar bilan faol hamkorlik qildi.
            </p>
            <p>
                "Ekogumus" kompaniyasining muvaffaqiyati o'sishda davom etdi va ular nafaqat mineral o'g'itlarning yetakchi ishlab chiqaruvchisi, balki qishloq xo'jaligi tadqiqotlari sohasida ham yetakchi bo'ldi. Kompaniya yangi texnologiyalarni ishlab chiqishga sarmoya kiritdi, bu ularga yanada samarali va ekologik toza mahsulotlarni yaratishga imkon berdi.
            </p>
        </div>
        <div class="history_colum">
            <p>
                Vaqt o'tishi bilan" Ekogumus " qishloq xo'jaligida innovatsiyalar va sifat ramzi sifatida mashhur bo'ldi. Ular qishloq barqarorligida faol ishtirok etib, hosildorlikni oshirish va mahalliy fermerlar hayotini yaxshilash uchun bilim va resurslar bilan ta'minladilar.
            </p>
            <p>
                Bugungi kunda, tashkil etilganidan yigirma yil o'tgach, "Ekogumus" o'z mijozlarini qishloq xo'jaligining o'sishiga yordam beradigan innovatsion mahsulotlar va echimlar bilan xursand qilishda davom etmoqda. 
jamiyat farovonligi. Ularning sa'y-harakatlari va qishloq xo'jaligiga sodiqligi jahon qishloq xo'jaligining oziq-ovqat xavfsizligi va farovonligini ta'minlashga haqiqiy hissa bo'ldi.
            </p>
        </div>
    </div> 
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/about_company.js'%}"></script>
{% endblock scripts %}