{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/about_company.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}

<div class="title">
    Мы являемся ведущими производителями органоминеральных удобрений в Узбекистане
</div>
<div class="logo">
    <img src="{% static 'img/logo.png' %}" alt="logo">
</div>
{% endblock header_content %}
{% block content %}

<section class="about_company container">
    <h2 class="about_company_title">
        О КОМПАНИИ
        <span class="about_company_subtitle">
            "Ekogumus" была официально основана в 1997 году, однако первые шаги к её развитию и процветанию были сделаны ещё в 1988 году нашим отцом, основателем компании - Хайтбоем Солижоновым. Мы продолжаем расширять и развивать дело нашего отца. За более чем тридцать лет компания стала лидером в сельскохозяйственной отрасли, предоставляя эффективные решения для сельского хозяйства по всему миру.
        </span>
    </h2>
    <div class="about_company_history">
        <div class="history_colum">
            <p>
                Компания стала называться "Ekogumus" и начала свой путь с небольшого участка земли для разведения Калифорнийских червей и получения высококачественного удобрения - Биогумус. Впоследствии для анализа в начале начали пользоваться лабораторией Ферганского Государственного Университета.
            </p>
            <p>
                Несмотря на ограниченные ресурсы, команда ученых работала с неисчерпаемым энтузиазмом и решимостью. Первые годы были непростыми, но благодаря научному таланту и трудолюбию, целеустремленности они смогли разработать уникальный тип органоминерального удобрения.
            </p>
            <p>
                С каждым годом "Ekogumus" расширял свои исследовательские 
                и производственные возможности. Со временем их удобрения 
                стали пользоваться огромным спросом у фермеров и сельского 
                хозяйства по всему миру. Компания активно сотрудничала с 
                агрономами, чтобы адаптировать свои продукты под различные 
                почвы и климатические условия.
            </p>
        </div>
        <div class="history_colum">
            <p>
                Успех компании "Ekogumus" продолжал расти, и она стала не 
                только ведущим производителем органоминеральных удобрений, но и 
                лидерам в области исследований сельского хозяйства. Компания 
                инвестировала в разработку новых технологий, что позволило 
                им создавать еще более эффективные и экологически чистые продукты.
            </p>
            <p>
                Со временем, "Ekogumus" стала известной как символ инноваций
                 и качества в сельском хозяйстве. Она активно участвовала в 
                 устойчивом развитии сельских районов, предоставляя знания и 
                 ресурсы для повышения урожайности и улучшения жизни местных
                  фермеров.
            </p>
            <p>
                Сегодня, спустя трицат лет с момента основания, "Ekogumus" 
                продолжает радовать своих клиентов инновационными продуктами 
                и решениями, способствующими росту сельского хозяйства и 
                благосостоянию общества. Её усилия и преданность сельскому 
                хозяйству стали настоящим вкладом в обеспечение продовольственной 
                безопасности и процветания мирового сельского хозяйства.
            </p>
        </div>
    </div> 
</section>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/about_company.js'%}"></script>
{% endblock scripts %}