{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/cooperation.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">
        OPEN NEW MARKETS WITH US: EXPORT OF ORGANIC FERTILIZERS
    </h1>
</div>
{% endblock header_content %}

{% block content %}
<div class="cooperation_description container">
    <p>Welcome to the world of organic and mineral fertilizers inspired by the power of nature and created by California red earthworms! We are a team of dedicated supporters of sustainable agriculture and environmental responsibility, and we are proud to offer our expertise and experience for the development of your production and its successful export.</p>
    <p>We invite private producers of organic and mineral fertilizers to join us on our way to an environmentally friendly future. We believe in the power of partnership and cooperation, and our goal is to contribute to your success by opening new markets and expanding the geography of your business.</p>
    <p>With our modern production equipment and scientific research, we ensure the highest quality of our products, which makes them in demand and valuable on the world stage. Our company is not just a business, it is a community of like-minded people striving for prosperity and caring for our planet.</p>
    <p>Let's join forces and together create an effective supply chain that will allow your fertilizers to conquer international markets. We will provide you with everything you need, from production and processing to logistics and marketing support.</p>
    <p>Open the doors to export and environmental success! Join us today to start an inspiring collaboration. Don't miss the opportunity to be part of our sustainable and thriving team!</p>
</div>
<div class="cooperation_title container">
    Contact us right now!
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}