{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">Boy hosildorlik uchun o'g'itlar!</h1>
    <h2 class="header_subtitle">
        Biz O'zbekistonda organik mineral o'g'itlarning yetakchi ishlab chiqaruvchimiz
    </h2>
</div>
<div class="header_button">
    <a class="button_more" href="{% url 'mainapp:about_company_page' lang=language %}">Batafsil...</a>
</div>
{% endblock header_content %}

{% block content %}
<section class="history">
    <div class="history_wrap container">
        <div class="history_main ">
            <div class="history_title">
                30 yil
            </div>
            <div class="history_subtitle">
                unumdorlik cho'qqilariga ko'tarilish
            </div>
            <div class="history_text">
                "Ecogumus" 1993 yilda innovatsion mineral o'g'itlar ishlab chiqarish maqsadida tashkil etilgan. O'ttiz yil ichida kompaniya butun dunyo bo'ylab samarali qishloq xo'jaligi echimlarini taqdim etib, sanoatning etakchisiga aylandi.
            </div>
        </div>
    </div>
</section>
 <section class="about_company">
    <div class="about_company_wrap container">
        <div class="about_company_main">
            <div class="about_company_title">
                O'zbekistonda organik mineral o'g'itlarning yetakchi ishlab chiqaruvchisi
            </div>
            <p class="about_company_text">
                1993 yilda bir guruh tashabbuskor olimlar va qishloq xo'jaligi mutaxassislari innovatsion mineral o'g'itlar kompaniyasini yaratish uchun kuchlarini birlashtirishga qaror qilishdi. Ular ekinlar hosildorligi va sifatini sezilarli darajada oshirishi mumkin bo'lgan noyob o'g'it formulalarini ishlab chiqishda ulkan salohiyatni ko'rdilar.
            </p>
            <p class="about_company_text">
                Kompaniya "Ecogumus" deb nomlandi va o'z sayohatini kichik shaharchadagi kichik laboratoriya bilan boshladi. Cheklangan resurslarga qaramay, olimlar jamoasi bitmas-tuganmas ishtiyoq va qat'iyat bilan ishladilar. Dastlabki yillar oson bo'lmagan, ammo ilmiy iste'dod va mehnatsevarlik tufayli ular mineral o'g'itlarning bir nechta noyob formulalarini ishlab chiqishga muvaffaq bo'lishdi.
            </p>
            <a href="" class="about_company_link">Tashkilot haqida</a>
        </div>
    </div>
</section>
<section class="our_product">
    <div class="our_product_inner container">
        <div class="our_product_title">
            Bizning mahsulotimiz
        </div>
        <div class="our_product_wrap ">
            <div class="our_product_main">
                <div class="product_name">
                    "Biohumus" organomineral o'g'it
                </div>
                <div class="product_description">
                    <p>
                        Bizning noyob rivojlanishimiz-bu noyob granulalarga ega bo'lgan yuqori sifatli, mayda donador organik moddalar massasi. Sizning bog'ingiz, sabzavot bog'ingiz yoki o'simliklaringiz boy va muvozanatli ovqatlanishni oladi, bu esa mazali ishlash va ajoyib ko'katlarga olib keladi. Bizning eksklyuziv mahsulotimiz, ona yerning tabiiy sovg'asi va sevgi va g'amxo'rlik bilan o'ralgan holda o'simliklaringizga munosib parvarish bering!
                    </p>
                </div>
                <a class="our_product_more_btn" href="">
                    Batafsil
                </a>
            </div>
            <div class="our_product_slider">
                <div class="our_product_slider_wrap">
                    <div class="page" style="background-image: url({% static './img/product_slider_img_1.jpg' %});">
                        <div class="page_content" >
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_2.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_3.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<section class="numbers ">
    <div class="numbers_wrap container">
        <div class="numbers_title">Tashkilotimiz - raqamlarda </div>
        <div class="numbers_main">
            <div class="info">
                <div class="number">
                    30
                </div>
                <p>BOZORDA MUVAFFAQIYATLI ISHLASH</p>
            </div>
            <div class="info">
                <div class="number">
                    200т
                </div>
                <p>YILLIK EKSPORT</p>
            </div>
            <div class="info">
                <div class="number">
                    100%
                </div>
                <p>ISHLAB CHIQARILAYOTGAN MAHSULOTLARNI NAZORAT QILISH</p>
            </div>
        </div>
    </div>
</section>
<section class="certificates container">
    <div class="certificates_slider">
        <div id="animated-thumbnails-gallery" class="certificates_slider_wrap">
            <a href="{% static './img/certificate_1.png' %}" class="page">
                <img src="{% static './img/certificate_1.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_2.png' %}" class="page">
                <img src="{% static './img/certificate_2.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_3.png' %}" class="page">
                <img src="{% static './img/certificate_3.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_4.png' %}" class="page">
                <img src="{% static './img/certificate_4.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_5.png' %}" class="page">
                <img src="{% static './img/certificate_5.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_6.png' %}" class="page">
                <img src="{% static './img/certificate_6.png' %}" alt="certificate">
            </a>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
{{context.language}}
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}