{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">Fertilizers for a rich harvest!</h1>
    <h2 class="header_subtitle">
        We are the leading producers of organomineral fertilizers in Uzbekistan
    </h2>
</div>
<div class="header_button">
    <a class="button_more" href="{% url 'mainapp:about_company_page' lang=language %}">More detailed...</a>
</div>
{% endblock header_content %}

{% block content %}
<section class="history">
    <div class="history_wrap container">
        <div class="history_main ">
            <div class="history_title">
                30+ years old
            </div>
            <div class="history_subtitle">
                climbing to the peaks of fertility
            </div>
            <div class="history_text">
                Ekogumus was officially founded in 1997, but the first steps towards its development and prosperity were made back in 1988 by our father, the founder of the company - Haitboy Solizhonov. We continue to expand and develop our father's business. For more than thirty years, the company has become a leader in the agricultural industry, providing effective solutions for agriculture around the world.
            </div>
        </div>
    </div>
</section>
 <section class="about_company">
    <div class="about_company_wrap container">
        <div class="about_company_ctf" id="about_company_ctf">
            <a href="{% static 'img/certificate_8.png' %}">
                <img src="{% static 'img/certificate_8.png' %}" alt="ctf">
            </a>
        </div>
        <div class="about_company_main">
            <div class="about_company_title">
                We are the only holder of the certificate of conformity for the serial production of organomineral fertilizers in the country
            </div>
            <p class="about_company_text">
                Solizhonov Haitboy - Candidate of Biological Sciences, associate professor, professor, worked at FERGU. He had a cherished dream to revive the soil of his native land. Back in 1988, together with a group of enterprising scientists and agricultural experts, he decided to join forces to create an innovative company for the production of organic fertilizers with the help of California red earthworms.
The founder grouped theory with practice. They saw a huge potential in the development of a unique fertilizer that could significantly increase the yield and quality of crops.
            </p>
            <p class="about_company_text">
                The company became known as "Ekogumus" and began its journey with a small plot of land for breeding California worms and obtaining high-quality fertilizer - Biohumus. Subsequently, the laboratory of the Fergana State University began to be used for analysis at the beginning. Despite limited resources, the team of scientists worked with inexhaustible enthusiasm and determination. The first years were not easy, but thanks to scientific talent and hard work, dedication, they were able to develop a unique type of organomineral fertilizer.
                <br>
                At the moment, we have more than 1,000 students (followers) in Uzbekistan, Russia and other Central Asian countries who adhere to the technological regulations and production instructions for obtaining high-quality organic mineral fertilizer Biohumus.
            </p>
            <a href="{% url 'mainapp:about_company_page' lang=language %}" class="about_company_link">About the company</a>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </div>
        </div>
    </div>
</section>
<section class="our_product">
    <div class="our_product_inner container">
        <div class="our_product_title">
            Our product
        </div>
        <div class="our_product_wrap ">
            <div class="our_product_main">
                <div class="product_name">
                    Biohumus - organomineral fertilizer
                </div>
                <div class="product_description">
                    <p>
                        Our unique development is a high-quality, finely granular mass of organic and mineral substances obtained with the help of California red earthworms. Your garden, vegetable garden or plants will receive a rich and balanced nutrition, which will lead to effective productivity and magnificent greenery. Give your plants the care they deserve with our exclusive product, a natural gift from Mother Earth herself and packed with love and care!
                    </p>
                </div>
                <a class="our_product_more_btn" href="{% url 'mainapp:product_page' lang=language %}">
                    More detailed
                </a>
            </div>
            <div class="our_product_slider">
                <div class="our_product_slider_wrap">
                    <div class="page" style="background-image: url({% static './img/product_slider_img_1.jpg' %});">
                        <div class="page_content" >
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_2.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_3.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                    <div class="page" style="background-image: url({% static './img/product_slider_img_4.jpg' %});">
                        <div class="page_content">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</section>
<section class="numbers ">
    <div class="numbers_wrap container">
        <div class="numbers_title">The company in numbers</div>
        <div class="numbers_main">
            <div class="info">
                <div class="number">
                    30+
                </div>
                <p>YEARS OF SUCCESSFUL WORK IN THE MARKET
                </p>
            </div>
            <div class="info">
                <div class="number">
                    10000t+
                </div>
                <p>ANNUAL PROJECTED EXPORTS</p>
            </div>
            <div class="info">
                <div class="number">
                    100%
                </div>
                <p>CONTROL OF MANUFACTURED PRODUCTS</p>
            </div>
        </div>
    </div>
</section>
<section class="certificates container">
    <div class="certificates_slider">
        <div id="animated-thumbnails-gallery" class="certificates_slider_wrap">
            <a href="{% static './img/certificate_1.png' %}" class="page">
                <img src="{% static './img/certificate_1.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_8.png' %}" class="page">
                <img src="{% static './img/certificate_8.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_12.png' %}" class="page">
                <img src="{% static './img/certificate_12.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_9.png' %}" class="page">
                <img src="{% static './img/certificate_9.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_10.png' %}" class="page">
                <img src="{% static './img/certificate_10.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_2.png' %}" class="page">
                <img src="{% static './img/certificate_2.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_3.png' %}" class="page">
                <img src="{% static './img/certificate_3.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_13.png' %}" class="page">
                <img src="{% static './img/certificate_13.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_14.png' %}" class="page">
                <img src="{% static './img/certificate_14.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_4.png' %}" class="page">
                <img src="{% static './img/certificate_4.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_5.png' %}" class="page">
                <img src="{% static './img/certificate_5.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_6.png' %}" class="page">
                <img src="{% static './img/certificate_6.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_7.png' %}" class="page">
                <img src="{% static './img/certificate_7.png' %}" alt="certificate">
            </a>
            <a href="{% static './img/certificate_11.png' %}" class="page">
                <img src="{% static './img/certificate_11.png' %}" alt="certificate">
            </a>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
{{context.language}}
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}