{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">News</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="news_cards container">
    <div class="news_card">
        <div class="img">
            <img src="{% static 'img/news_card_img_2.jpg' %}" alt="">
        </div>
        <div class="card_main">
            <div class="card_title">
                "EKOGUMUS" AND "MAS HOLDING COMPANY" SIGNED A MEMORANDUM ON THE DEVELOPMENT OF TRADE AND ECONOMIC RELATIONS
            </div>
            <p class="card_text">
                Both sides agreed that in view of the need to build reliable, pragmatic...
            </p>
            <a href="{% url 'mainapp:onenews_page' lang=language %}" class="btn_more">
                More details
            </a>
        </div>
    </div>
    <div class="news_card">
        <div class="img">
            <img src="{% static 'img/news_card_img_1.jpg' %}" alt="">
        </div>
        <div class="card_main">
            <div class="card_title">
                The Uzkimoimpex company offers the product “BIOHUMUS” for export
            </div>
            <p class="card_text">
                “BIOHUMUS” is an organo-mineral fertilizer. Contains different amounts of nutrients: humus, humates, amino acids, hormones, nitrogen, phosphorus, potassium and a chelated set...
            </p>
            <a href="https://uzkimyoimpeks.uz/ru/news/uzkimyoimpeks-company-offers-biohumus-product-for-export" class="btn_more">Подробнее</a>
        </div>
    </div>
</section>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/news.js'%}"></script>
{% endblock scripts %}