{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">WHAT IS BIOGUMUS AND WHAT IS ITS COMPOSITION?</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="product_description container">
    <p class="description">
        Biogumus is a product of processing organic masses by California red earthworms. It is a loose, finely granulated mass with granule sizes of 1-3 mm, possibly up to 5mm.  Concentrated fertilizer, contains in a balanced combination a whole complex of nutrients - micro and macro elements, mineral fertilizers, amino acids, humic acid, humates and fulvates of sodium and potassium, natural phytohormones, spores of soil microorganisms useful for plants, gibberellins in an easily digestible form.
        <br> <strong>Thanks to intensive fermentation , it is enhanced:</strong> 
    </p>
    <div class="result">
        <ol>
            <li>Plant growth and development</li>
            <li>Increases germination and seed germination energy</li>
            <li>Stimulates root formation in plants.</li>
            <li>Increases the immunity of plants.</li>
            <li>Increases fertility, looseness of the soil</li>
            <li>Keeps moisture in the soil for a long time.</li>
            <li>Reduces the content of nitrites in agricultural products.</li>
            <li>Prevents the entry of heavy metals and radionuclides into the plant.</li>
            <li>Increases the content of sugars, proteins and vitamins in fruits and vegetables.</li>
            <li>Eliminates chlorosis, stimulates flowering and fruiting.</li>
            <li>It gives an effect to the rapid ripening of fruits for 7-10 days</li>
            <li>Stress is relieved, especially when planting plants, seeds.</li>
            <li>The products grown on Biogumus practically increase the duration of storage.</li>
            <li>Biogumus is 10 times higher than manure in terms of nutrient content. Biogumus is 10 times more effective than manure. Moreover, fresh manure is a hotbed of fungal and viral diseases of plants. The Biogumus completely lacks viable weed seeds, has anti-septic properties, destroying viral and fungal diseases of plants.</li>
        </ol>
    </div>
    <div class="composition">
        <div class="composition_title">
            Chemical composition of Biogumus
        </div>
        <table>
            <tr class="row">
                <th class="name" >Humidity</th>
                <th class="value">40-45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Ash content</th>
                <th class="value">35-45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Organic substances</th>
                <th class="value">55-65%</th>
            </tr>
            <tr class="row">
                <th class="name" >Humic substances</th>
                <th class="value">25-32%</th>
            </tr>
            <tr class="row">
                <th class="name" >Common nitrogen</th>
                <th class="value">1.0-2.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Total phosphorus (P2O5)</th>
                <th class="value">1.5-3.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Total potassium (K2O)</th>
                <th class="value">1.2-2.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Calcium</th>
                <th class="value">4.0-6.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Magnesium</th>
                <th class="value">0.6-2.3%</th>
            </tr>
            <tr class="row">
                <th class="name" >Iron</th>
                <th class="value">0.6-2.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Manganese</th>
                <th class="value">60-80 мг/кг</th>
            </tr>
            <tr class="row">
                <th class="name" >Mass fraction of heavy metals, mg/kg</th>
                <th class="value">below the maximum permissible concentration for soils</th>
            </tr>
            <tr class="row">
                <th class="name" >Pathogenic microflora</th>
                <th class="value">absent</th>
            </tr>
            <tr class="row">
                <th class="name" >Helminth eggs</th>
                <th class="value">absent</th>
            </tr>
        </table>
    </div>
    <div class="buyers">
        <div class="buyers_title">
            Main buyers
        </div>
        <p>The main buyers of Biogumus: are dehkan, farmers, greenhouses and flower farms, state organizations that have landscaping areas, and subsidiary farms, as well as private individuals who have garden and country plots. We are looking for partners from abroad, with the subsequent sale of our products to other countries.  The products produced by us are much better than in Russia in terms of the content of some indicators of macro and microelements.
            <br>
            In the modern world, the population attaches great priority to the use of environmentally friendly vegetables, fruits, and other products grown on the basis of organic-mineral fertilizer biohumus.
           </p>
    </div>
</section>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}