{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock links %}
{% block title %} {{title}} {% endblock title %}
{% block header_content %}
<div class="header_main">
    <h1 class="header_title">"BIOGUMUS" NIMA VA UNING TARKIBI QANDAY?</h1>
</div>
{% endblock header_content %}
{% block content %}
<section class="product_description container">
    <p class="description">
        Biogumus - Kaliforniya qizil chuvalchanglari tomonidan organik massalarni qayta ishlash mahsuloti. Bu granulalarning o'lchamlari 1-3 mm, ehtimol 5 mm gacha bo'lgan bo'shashgan mayda granulyatsiyalangan massa. Konsentrlangan o'g'it muvozanatli kombinatsiyada ozuqa moddalarining butun majmuasini o'z ichiga oladi - mikro va makro elementlar, mineral o'g'itlar, aminokislotalar, gumin kislota, natriy va kaliyning humatlari va fulvatlari, tabiiy fitogormonlar, o'simliklar uchun foydali bo'lgan tuproq mikroorganizmlarining sporalari, oson hazm bo'ladigan gibberellinlar.
 <br> <strong>Kuchli fermentatsiya tufayli u kuchayadi:</strong> 
    </p>
    <div class="result">
        <ol>
            <li>O'simliklarning o'sishi va rivojlanishi</li>
            <li>Urug'larning unib chiqishi va unib chiqish energiyasini oshiradi</li>
            <li>O'simliklarda ildiz shakllanishini rag'batlantiradi.</li>
            <li>O'simliklarning immunitetini oshiradi.</li>
            <li>Tuproq unumdorligini, yumshoqligini oshiradi</li>
            <li>Tuproqda uzoq vaqt namlikni saqlaydi.</li>
            <li>Qishloq xo'jaligi mahsulotlarida nitrit miqdorini kamaytiradi.</li>
            <li>Og'ir metallar va radionuklidlarning o'simlikka kirishiga to'sqinlik qiladi.</li>
            <li>Meva va sabzavotlarda shakar, oqsil va vitaminlar miqdorini oshiradi.</li>
            <li>Xlorozni yo'q qiladi, gullash va meva berishni rag'batlantiradi.</li>
            <li>7-10 kun davomida mevalarning tez pishishiga ta'sir qiladi</li>
            <li>Stresslar, ayniqsa o'simliklar, urug'larni ekish paytida engillashadi.</li>
            <li>Biogumusda etishtirilgan mahsulotlar saqlash muddatini deyarli oshiradi.</li>
            <li>Biogumus ozuqaviy moddalar miqdori bo'yicha go'ngdan 10 baravar ko'pdir. Biogumus go'ngga qaraganda 10 yoki undan ko'p marta samaraliroq. Bundan tashqari, yangi go'ng o'simliklarning qo'ziqorin va virusli kasalliklari paydo bo'lishining o'chog'idir. Biogumusda begona o'tlarning hayotiy urug'lari umuman yo'q, o'simliklarning virusli va qo'ziqorin kasalliklarini yo'q qiladigan septik xususiyatlarga ega.</li>
        </ol>
    </div>
    <div class="composition">
        <div class="composition_title">
            Biogumusning kimyoviy tarkibi
        </div>
        <table>
            <tr class="row">
                <th class="name" >Namlik</th>
                <th class="value">40-45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Kul</th>
                <th class="value">35-45%</th>
            </tr>
            <tr class="row">
                <th class="name" >Organik moddalar</th>
                <th class="value">55-65%</th>
            </tr>
            <tr class="row">
                <th class="name" >Gumik moddalar</th>
                <th class="value">25-32%</th>
            </tr>
            <tr class="row">
                <th class="name" >Azot umumiy</th>
                <th class="value">1.0-2.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Fosfor umumiy (P2O5)</th>
                <th class="value">1.5-3.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Kaliy umumiy (K2O)</th>
                <th class="value">1.2-2.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Kaltsiy</th>
                <th class="value">4.0-6.0%</th>
            </tr>
            <tr class="row">
                <th class="name" >Magniy</th>
                <th class="value">0.6-2.3%</th>
            </tr>
            <tr class="row">
                <th class="name" >Temir</th>
                <th class="value">0.6-2.5%</th>
            </tr>
            <tr class="row">
                <th class="name" >Marganets</th>
                <th class="value">60-80 мг/кг</th>
            </tr>
            <tr class="row">
                <th class="name" >Og'ir metallarning massa ulushi, mg / kg</th>
                <th class="value">tuproq uchun ruxsat etilgan maksimal kons-dan past</th>
            </tr>
            <tr class="row">
                <th class="name" >Patogen mikroflora</th>
                <th class="value">yo'q</th>
            </tr>
            <tr class="row">
                <th class="name" >Gelmint tuxumlari</th>
                <th class="value">yo'q</th>
            </tr>
        </table>
    </div>
    <div class="buyers">
        <div class="buyers_title">
            Asosiy xaridorlar
        </div>
        <p>Biogumusning asosiy xaridorlari: dehqon, fermer, issiqxona va gul xo'jaliklari, obodonlashtirish joylari bo'lgan davlat tashkilotlari va yordamchi fermer xo'jaliklari, shuningdek bog ' va yozgi kottejlarga ega bo'lgan xususiy shaxslar. Biz chet eldan sheriklarni qidiramiz, keyinchalik mahsulotlarimizni boshqa mamlakatlarga sotamiz. Biz ishlab chiqargan mahsulotlar makro va mikro elementlarning ba'zi ko'rsatkichlari mazmuni jihatidan Rossiyaga qaraganda ancha yaxshi.
            <br> Zamonaviy dunyoda aholi organik-mineral o'g'it vermikompost asosida etishtirilgan ekologik toza sabzavotlar, mevalar va boshqa mahsulotlardan foydalanishga katta ustuvor ahamiyat beradi.
           </p>
    </div>
</section>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/product.js'%}"></script>
{% endblock scripts %}